<div class="text text-center pt-2">
  <h2 class="my-3"><%= @user.username %></h2>
  <h5 class="my-2">
    <%= link_to "edit", [:edit, @user] %> |
    <%= link_to "delete", user_path(@user), method: :delete %>
  </h5>
  <% if @user.userimage? %>
  　　<%= image_tag @user.userimage.thumb.url %>
  　<% else %>
  　　 # image_tag 'noimage.gif'
  　<% end %>
</div>
