<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />


    <title>Gezellig</title>
  </head>

  <body>

  <header>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Gezellig</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#top" class="nav-link">Top</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#music" class="nav-link">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#art-museum" class="nav-link">Art Museum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

  </header>


  <section id="contents">
      <div id="content01 top" class="contents">
          <div id="content01_bg" class="background"></div>
          <div class="wrap">
              <div class="text-box mx-auto px-4 py-2">
                  <p class="catch" id="main-catch">Gezellig</p>
                  <p class="copy" id="main-copy">"Gezellig" means something cozy and confortable in Dutch.
                  <br>for example, it's time like when you are
                  <br>enjoying talking with your friends or feel happy by yourself.
                  <br>I wish Here were Gezellig for you!</p>
              </div>
          </div>
      </div>

      <div id="content02" class="contents">
        <a id="music"> </a>
          <div id="content02_bg" class="background"></div>
          <div class="wrap">
              <div class="text-box mx-auto px-4 pb-4 pt-2">
                  <p class="catch" id="music-catch">Music</p>
                  <p class="copy  py-4" id="music-copy">
                    Gathering Cool & Beautiful sounds<br>
                    Never could these fail to impress you
                  </p>
                  <!-- <iframe width="100%" height="150px" id="music-youtube" src="https://www.youtube.com/embed/JUGOvsXPIOA?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  <iframe width="100%" height="150px" id="music-youtube" src="https://www.youtube.com/embed/odTty6lOepo?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
      </div>

      <div id="content03" class="contents">
        <a id="art-museum"> </a>
          <div id="content03_bg" class="background"></div>
          <div class="wrap" id="art-museum-wrap">
              <div class="text-box mx-auto px-4 pb-4 pt-2">
                  <p class="catch" id="art-museum-catch">Art Museum</p>
                  <p class="copy py-4" id="art-museum-copy">
                    Welcome to My Art Museum!
                    You can see my collection gathering Contemporary Artists, Photographers and Painters from The Greatest Painters to Modern Painters.
                  </p>
                  <div class="swiper-container loading" id="animation3b">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" >
                        <img src="https://lh3.googleusercontent.com/gLX1Cw6b34kr8VYYsOtevAcbXf6gKwUrW_PdxCwhG4nlZOHB5Y2t7Pu4tPSe2VWiN-6Fykdk6atp_hrdTecQwQpUTZmA0lADFAj8FdM6av9nBvYTMpbpIdde-T4cD2X69qYuSj6iEw" class="entity-img" />
                        <div class="content">
                          <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Edo Zollo</p>
                          <span class="caption" data-swiper-parallax="-20%"></span>
                        </div>
                      </div>
                      <div class="swiper-slide" >
                        <img src="https://lh3.googleusercontent.com/kb6qpJls8Yg9Mj1_TddEPMxwuCi55PfY2b_BppI4VCh24BhfF2e3Sg0UeETyBhDKZt6R0UFqKZ4rmEA-lg6a8xhsbKgtzSm0WXQVw0Vsasx_EUnY3ZAXyj3nGCFZ0qC7DGxJ5307pg" class="entity-img" />
                        <div class="content">
                          <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Michal Mozolewski</p>
                          <span class="caption" data-swiper-parallax="-20%"></span>
                        </div>
                      </div>
                      <div class="swiper-slide" >
                        <img src="https://lh3.googleusercontent.com/OFNx5E4oixkV9tGBsAjjlaXHoQIioA8FRKVbn3-0S2uXVoohneMmfB4YlD6vyRWn8j_vnb9aRjqGWLidIvpOKZAh34CCSeY-eJJfVH0nGW-LvgUVk-EEc7vKSlaIYYPdRKjBfuXK3A" class="entity-img" />
                        <div class="content">
                          <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Jeremy Mann</p>
                          <span class="caption" data-swiper-parallax="-20%"></span>
                        </div>
                      </div>
                      <div class="swiper-slide" >
                        <img src="https://lh3.googleusercontent.com/feHJmYbKGTE4k5AEh1L0FmpjDJRQBb9xRsMfkQYt5djKwJ1S1T5-mnCpkS-4JxX5vqn12Ca-UcMiGOfRR87nTxWgvj_ESceo2e9li_6gnIXUsLmVDMtnP2pWwY5WvEvG3u231HWF6A" class="entity-img" />
                        <div class="content">
                          <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Andrew Salgado</p>
                          <span class="caption" data-swiper-parallax="-20%"></span>
                        </div>
                      </div>
                      <div class="swiper-slide" >
                        <img src="https://lh3.googleusercontent.com/tulBDwLgFs0akgwI1NGfm_TCuyalhOGDRAK8mzPLUOHnUrHcAu8A-ytcPLDRqmDJmaI6v82bu48vOi_mscTCi2qv22lwBVzlFw18T3x_Nl8P9_4Go4DGLliQScG_ZwzN40WIacTIFw" class="entity-img" />
                        <div class="content">
                          <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">James Jean</p>
                          <span class="caption" data-swiper-parallax="-20%"></span>
                        </div>
                      </div>
                    </div>

                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev swiper-button-white"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                  </div>

              </div>
          </div>
      </div>

      <div id="content04" class="contents">
        <a id="contact"> </a>
          <div id="content04_bg" class="background"></div>
          <div class="wrap" id="animation1c">
              <div class="text-box mx-auto px-4 pb-4 pt-2">
                <p class="catch" id="animation2c">Contact</p>
                  <p class="copy pb-4"></p>
                  <a class="btn btn-dark btn-lg btn-block mb-3" href="#"><i class="far fa-envelope mr-2"></i>G-mail</a>
                  <a class="btn btn-info btn-lg btn-block mb-3" href="#" target="_blank"><i class="fab fa-twitter mr-2"></i>Twitter</a>
                  <a class="btn btn-light btn-lg btn-block mb-3" href="#" target="_blank"><i class="fas fa-rss mr-2"></i>Blog</a>
                  <a class="btn btn-secondary btn-lg btn-block mb-3" href="https://github.com/yanagiprg/works"><i class="fab fa-github mr-2"></i>Github</a>
              </div>
          </div>
      </div>

  </section>
<footer></footer>


        <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
    $(function(){
    $('.contents').each(function(i, elem){
        var contentsPOS = $(elem).offset().top;
        $(window).on('load scroll resize', function(){
            var winHeight = $(window).height();
            var scrollTop = $(window).scrollTop();
            var showClass = 'show';
            var timing = 100;
            if (scrollTop >= contentsPOS - winHeight + timing){
              $(elem).addClass(showClass);
            } else {
              $(elem).removeClass(showClass);
            }
        });
    });
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
<!-- text animation -->
<script>
  $('#main-catch').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#main-catch').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 200){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>

<script>
  $('#main-copy').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#main-copy').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 300){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>


<script>
  $('#music-catch').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#music-catch').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 200){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>

<script>
  $('#music-copy').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#music-copy').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 300){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>

<script>
  $('#music-youtube').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#music-youtube').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 300){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>

<script>
  $('#art-museum-wrap').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#art-museum-wrap').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 100){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>

<script>
  $('#art-museum-cacth').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#art-museum-cacth').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 150){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>

<script>
  $('#art-museum-copy').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#art-museum-copy').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 300){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>

<script>
  $('#animation3b').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#animation3b').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 350){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>

<script>
  $('#animation1c').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#animation1c').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 200){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>

<script>
  $('#animation2c').css('visibility','hidden');
    $(window).scroll(function(){
      var windowHeight = $(window).height(),
          topWindow = $(window).scrollTop();
      $('#animation2c').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 300){
       $(this).addClass("fadeInDown");
      }
    });
  });
</script>



// Params
<script>
var sliderSelector = '.swiper-container',
isMove = false,
options = {
  init: false,
  loop: true,
  speed:800,
  autoplay:{
    delay:1500
  },
  effect: 'cube', // 'cube', 'fade', 'coverflow',
  cubeEffect: {
    shadow: true,
    slideShadows: true,
    shadowOffset: 40,
    shadowScale: 0.94,
  },
  grabCursor: true,
  pagination: {
    el: '.swiper-pagination',
    clickable: true
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev'
  },
  // Events
  on: {
    init: function(){
      this.autoplay.stop();
    },
    imagesReady: function(){
      this.el.classList.remove('loading');
      this.autoplay.start();
    },
    touchMove: function(event){
      if (!isMove) {
        this.el.classList.remove('scale-in');
        this.el.classList.add('scale-out');
        isMove = true;
      }
    },
    touchEnd: function(event){
      this.el.classList.remove('scale-out');
      this.el.classList.add('scale-in');
      setTimeout(function(){
        isMove = false;
      }, 300);
    },
    slideChangeTransitionStart: function(){
      console.log('slideChangeTransitionStart '+this.activeIndex);
      if (!isMove) {
        this.el.classList.remove('scale-in');
        this.el.classList.add('scale-out');
      }
    },
    slideChangeTransitionEnd: function(){
      console.log('slideChangeTransitionEnd '+this.activeIndex);
      if (!isMove) {
        this.el.classList.remove('scale-out');
        this.el.classList.add('scale-in');
      }
    },
    transitionStart: function(){
      console.log('transitionStart '+this.activeIndex);
    },
    transitionEnd: function(){
      console.log('transitionEnd '+this.activeIndex);
    },
    slideChange:function(){
      console.log('slideChange '+this.activeIndex);
      console.log(this);
    }
  }
},
mySwiper = new Swiper(sliderSelector, options);

// Initialize slider
mySwiper.init();
</script>
  </body>
</html>
